    <div>
      <tr>
        <td><%= type.byType %></td>

        <td><%= link_to "Edit", edit_type_path(type), class:"btn btn-warning" %></td>
        <td><%= button_to "Delete", type, method: :delete, class:"btn btn-danger"%></td>
      </tr>
    </div>


