<div class="container">
  <!-- Jika Admin -->
  <% if current_user.try(:admin?) %>

  <table class="table table-striped table-hover table-bordered">
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <%= link_to "Kembali Ke produk", home_dashboard_path, class:"btn btn-info" %>
  </div>
  <h1>TIPE</h1>
    <thead class="table-dark">
      <tr>
        <th>Nama Tipe</th>
        <th> </th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <div id="products">
        <% @types.each do |type| %>
          <%= render type %>
        <% end %>
      </div>
    </tbody>
  </table>
  <%= link_to "Tipe Baru", new_type_path, class:"btn btn-secondary" %>
</div>
<!-- Jika bukan admin -->
<% else %>
Access Denied
<%end%>

