<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Tentang Kami</span></h2>
        <p class="deskripsi"></p>Anggota Kelompok Kami
            <div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
    <!-- Optional JavaScript; choose one of the two! -->
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
        <div class="product-item  border-light-0 mb-4">
            <div class=" product-img position-relative p-0">
                <%= image_tag "3221600043_M Thoyyib Asshiddiqy.jpg", width:"200", height:"200"%>
                <div class="card-body text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">M. Thoyyib Asshiddiqy</h6>
                    <div class="d-flex justify-content-center">
                        <h6>3221600043</h6> 
                    </div>
                </div>
            </div>
            <div class="p-0"  >
               
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
        <div class="product-item  border-light-0 mb-4">
            <div class=" product-img position-relative p-0">
                <%= image_tag "3221600054_Muhammad Faishal Maulana Insani.jpg", width:"200", height:"200"%>
                <div class="card-body text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">Muhammad Faishal Maulana Insani</h6>
                    <div class="d-flex justify-content-center">
                        <h6>3221600054</h6>
                    </div>
                </div>
            </div>
            <div class="p-0"  >
               
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
        <div class="product-item  border-light-0 mb-4">
            <div class=" product-img position-relative p-0">
                <%= image_tag "3221600059_Ulfa Dwi Yanti.jpg", width:"200", height:"200"%>
                <div class="card-body text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">Ulfa Dwi Yanti</h6>
                    <div class="d-flex justify-content-center">
                        <h6>3221600059</h6>
                    </div>
                </div>
            </div>
            <div class="p-0"  >
               
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
        <div class="product-item  border-light-0 mb-4">
            <div class=" product-img position-relative p-0">
                <%= image_tag "3221600060_Mohamad Rizky Setiawan.jpg", width:"200", height:"200"%>
                <div class="card-body text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">Mohamad Rizky Setiawan</h6>
                    <div class="d-flex justify-content-center">
                        <h6>3221600060</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>