<div class="container">
<h1>Edit Produk</h1>

<%= render "form", product: @product %>

<br>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <%= link_to "Show", @product, class:"btn btn-info" %>
  <%= link_to "Back", home_dashboard_path, class:"btn btn-dark" %>
</div>
</div>
